body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Smythe", system-ui;

} 
.app-container{
    border: 3px solid gray;
    width: 450px;
    /* height: 795px; */
    /* margin-bottom: 100px; */
}

/* TOP  */
header{
    background-color: gray;
    height: 80px;
}
header img{
    width: 100%;    
}

/* Middle */
main{
    padding: 20px;
    padding-top: 60px;
    /* border: 1px solid red; */
    padding-bottom: 0;
}

.food-container{
    border-bottom: 1px solid gray;
    display: flex;
    margin-top: 10px;
}
span{
    font-size: 55px;
    margin: auto;
    margin-right: 5px;
    margin-bottom: 50px;
}
.food-description{
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10;
}

.food-description h1{
    font-size: 17px;
    margin: 0;
}
.food-description h2{
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
}
.add-btn{
    border: 1px solid gray;
    color: black;
    background-color: transparent;
    font-size: 25px;   
    border-radius: 50%;
    padding: 5px 12px;
    margin-bottom: 15px;
}

.food{
    width: 100%;
}

/* Bottom */

#payment-container{
    background-color: aliceblue;
    height:263px;
    text-align: center;
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
    display: none;
}
#payment-container h2{
    margin: 0;
    margin-top: 25px;
    font-weight: 500;
    font-size: 20px;
}

#order-btn{
    background-color: #16DB99;
    border: 0;
    width: 400px;
    padding: 17px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);   
    bottom: 80px;
    cursor: pointer;
    display: none;
}

.chosen-items{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 30px;
    /* border: 1px solid red; */
}
a{
    text-decoration: none;
}

.item-price{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
#right-side{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}
/* .chosen-items p{
} */